@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;      
  --color-secondary: #f59e0b;    
}

* {
  font-family: 'Outfit', sans-serif;
}

.font-playfair {
  font-family: 'Playfair', serif !important;
}
